@import "bootstrap-icons/font/bootstrap-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #aba0a0;
  border-radius: 9px;
  box-sizing: border-box;
  color: #efebeb;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 100px;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1d4375;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.wave {
  position: absolute;
  bottom: 0;
  width: 300%;
  height: 120px;
  animation: waveMove 8s linear infinite;
  transform: translateY(1px); /* ini opsional buat ngilangin garis putih tipis */
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3%); /* Sesuaikan dengan width */
  }
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.05);
}
